:root {
    --color-bg: #edf2f2;
    --color-text-main: #000000;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "Sen";
    --font-family-header: "Sen";
}

body{
    background-color: var(--color-bg);
    font-family: var(--font-family);
}

h1{
    margin-left: 5%;
    font-size: 40px;
}

.container {
    font-family: var(--font-family);
    margin-left: 5%;
    margin-right: 20%;
    font-size: 20px;
}

.displacement {
    font-family: var(--font-family);
    font-size: 20px;
    justify-content: center;
    display: grid;
    grid-template-areas:
    'main main main right right right'
    'footer footer footer footer footer footer';
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 60vh;
}

.text { grid-area: main; }
.image { grid-area: right; }
.disp-map { grid-area: footer; }

.displacement img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
}

.displacement img:hover{
    width: 80vw;
}

.maps {
    font-family: var(--font-family);
    margin-left: 5%;
    margin-right: 20%;
    font-size: 20px;
}

.maps li img {
    display: none;
  }

.maps li:hover img {
    display: block;
    position: fixed;
    right: 50px;
    top: 50px;
    width: calc(40vw - 50px);
}

details p {
    margin-left: 10%
}
details ul {
    margin-left: 10%
}

summary:hover{
    background-color: rgb(223, 190, 118);
    color: white;
}

.head{
    background-color:none;
    text-decoration: none;
    color: black
}
.head:hover{
    background-color:none;
    text-decoration: none;
    color: black
}

a {
    color: #4682b4;
    border-bottom-style: dotted;
    text-decoration: none;
}

a:hover{
    background-color: #dfbe76;
    color: #ffffff;
}


@media screen and (max-width: 800px){
    .about {
        font-family: var(--font-family);
        margin-left: 5%;
        margin-right: 5%;
    }
    
  .maps li:hover img {
    display: none;
}
}
